<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-left">
        <li><%= link_to 'Projects',	'#' %></li>
        <li><%= link_to 'Users',    '#' %></li>
        <li><%= link_to 'Rights', 	'#' %></li>
      </ul>
      <ul class="nav pull-right">
        <li><%= link_to "Profile",    '#' %></li>
        <li><%= link_to "Sign up",    '#' %></li>
      </ul>
    </div>
  </div>
</header>